<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後台 | 首頁</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="./style/all.css">
    
</head>

<body>
    <div id="app" class="row gx-0">
        <div class="col-md-2 bg-pink" >
            <ul class="list-unstyled navside__bg  m-0">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>

        </div>
        <div class="col-md-10">
            <div  class="p-3">
                <table class="table ">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">影片名稱</th>
                        <th scope="col">類型</th>
                        <th scope="col">原價</th>
                        <th scope="col">定價</th>
                        <th scope="col">上架</th> 
                        <th scope="col">查看細節</th>
                        <th scope="col"></th> 
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item,index) in products" :key="item.id">
                        <th scope="row">{{index+1}}</th>
                        <td> {{item.title}}</td>
                        <td> {{item.category}}</td>
                        <td>{{item.origin_price}}</td>
                        <td>{{item.price}}</td>
                        <td><div class="form-check form-switch">
                            <input v-if=" item.is_enabled" class="form-check-input " type="checkbox" id="flexSwitchCheckChecked" checked>
                            <input v-else class="form-check-input " type="checkbox" id="flexSwitchCheckChecked" >
                        </div></td>
                        <td> <button @click="tempProduct = item" class="btn btn-pink">查看</button></td> 
                      </tr>
                  
                      <tr>
                        <td scope="row" colspan="7">目前有 {{ products.length }} 部影片</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="row">
                    <h2 class="fs-4 fw-bold">單一影片資訊</h2 class="fs-4 fw-bold">
                      <div class="col-4">
                            <template v-if="tempProduct"  >
                                <div  class="card mb-3">
                                    <div class="ratio ratio-1x1 ">
                                      <img :src="tempProduct.imageUrl" class="objectFit card-img-top primary-image" alt="主圖"  />
                                    </div>
                                  <div class="card-body">
                                    <h5 class="card-title">
                                        {{tempProduct.title}}
                                      <span class="badge bg-pink ms-2">{{tempProduct.category}}</span>
                                    </h5>
                                    <p class="card-text">影片描述： {{tempProduct.description}} </p>
                                    <p class="card-text">影片內容： {{tempProduct.content}} </p>
                                    <div class="d-flex">
                                      <p class="card-text me-2">{{tempProduct.price }}</p>
                                      <p class="card-text text-pink"><del>{{tempProduct.origin_price }}</del></p>
                                      {{tempProduct.unit }}  / 元
                                    </div>
                                  </div>
                                </div>
                                    
                              </template>
                            </div>
                            
                            <div class="col-4 ">
                                <template v-if="tempProduct.imagesUrl" >                        
                                    <div v-for="item in tempProduct.imagesUrl" :key="item" class="ratio ratio-1x1 ">
                                        <img  v-if="item != '' " :src="item" alt="" class="objectFit images m-2" />
                                      </div>
                              </template>
                            </div>
                         
                            <p v-if="!tempProduct" class="text-danger">請點選一部影片查看詳細資訊</p>
                      </div>

                  </div>
             
           

            </div>
           

        </div>

    </div>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js'></script>
  
    <script src="js/data.js"> </script>
    <script type="module" src="./js/product.js"></script>

</body>

</html>

