<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
    <link rel="stylesheet" href="./style/all.css">
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
<main id="app" class="wrapper__bgImg">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="login__wrapper mx-auto" >
                    <h2 class="text-light fw-bold mb-3">登入</h2>
                    <div class="mb-3">
                        <label for="username" class="form-label text-light">Email </label>
                        <input v-model="loginData.username" type="email" class="form-control" id="username" placeholder="請輸入信箱">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label text-light">密碼</label>
                        <input v-model="loginData.password" type="password" class="form-control" id="password" placeholder="請輸入密碼">
                    </div>
                    <div class="mt-5">
                      <button @click="login" class="btn btn-danger w-100" type="button" >登入</button>
                    </div>
        
        
                </div>

            </div>
        </div>
     

    </div>

</main>




<body>

    <script src="./js/bootstrap/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js'></script>
    
    <script src="js/data.js"> </script>
    <script type="module" src="./js/login.js">


    </script>
</body>

</html>