.wrapper__bgImg {
    background-image: url("./images/login/login_bgImg.jpg") ;
    width: 100vw;
    height: calc(100vh - 56px); 
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    padding-top: 10%;

    @media (-webkit-min-device-pixel-ratio: 1.5) {
        padding-top: 5%;
     }


 

}

.login__wrapper {
    padding: 8% 7%;
    background-color: rgba(0, 0, 0, .25);
    backdrop-filter: blur(5px);

    @media (-webkit-min-device-pixel-ratio: 1.5) {
        transform: scale(.8);
     }


    
}